<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <!-- <img src="assets/img/coolest.jpg" width="55" height="45" class="d-inline-block align-top" alt=""> -->
  <a class="navbar-brand" href="#">EZWheels</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Rent">Rentar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="../Reserve">Reservar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Map">Mapa</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="../Admin">Administrador</a>
      </li>

    </ul>


    <form class="form-inline my-2 my-lg-0">

        <a class="nav-link" href="../Login">Login</a>


        <a class="nav-link" href="../Home">Logout</a>

    </form>
  </div>
</nav>




