<div class="card">
  <div class="card-body">
    <form #rentForm="ngForm" (ngSubmit)="onSubmit(rentForm)">

        <div class="form-group">
          <input
          type="text"
          name="nombre"
          #name="ngModel"
          [(ngModel)]="rentService.selectRent.nombre"
          class="from-control"
          placeholder="name">
        </div>

        <div class="form-group">
          <input
          type="text"
          name="vehicle"
          #vehicle="ngModel"
          [(ngModel)]="rentService.selectRent.vehicle"
          class="from-control"
          placeholder="vehiculo">
        </div>

        <div class="form-group">
          <input
          type="text"
          name="accesories"
          #accesories="ngModel"
          [(ngModel)]="rentService.selectRent.accesories"
          class="from-control"
          placeholder="accesories">
        </div>

<div class="from-group">
  <button class="btn btn-primary" type="submit">Submit</button>
  <button class="btn btn-secondary" type="reset" (click)="resetForm(rentForm)">Clean</button>
</div>


    </form>
  </div>
</div>
