<div *ngIf="7.117810 && -73.105206">

  <agm-map [latitude]="7.117810" [longitude]="-73.105206" [zoom]=16>

    <agm-marker [latitude]="7.117810" [longitude]="-73.105206">

      <agm-info-window>
        <h3><strong>Nep's parking</strong></h3>
        <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
      </agm-info-window>

    </agm-marker>


    <agm-marker [latitude]=7.119561 [longitude]=-73.108162>
        <agm-info-window>
              <h3><strong>Noire's parking</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.115699 [longitude]=-73.111827>
        <agm-info-window>
              <h3><strong>Blanc's parking</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.116824 [longitude]=-73.116238>
        <agm-info-window>
              <h3><strong>Vert's Parking</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.110674 [longitude]=-73.103437>
        <agm-info-window>
              <h3><strong>Planeptune</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.124614 [longitude]=-73.121336>
        <agm-info-window>
              <h3><strong>Lastation</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.109699 [longitude]=-73.118601>
        <agm-info-window>
              <h3><strong>Lowee</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.118094 [longitude]=-73.123253>
        <agm-info-window>
              <h3><strong>Leanbox</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]=7.129464 [longitude]=-73.110630>
        <agm-info-window>
              <h3><strong>NextForm</strong></h3>
              <a href="../Rent" class="btn btn-primary">Rentar un vehículo</a>
            </agm-info-window>
      </agm-marker>

  </agm-map>

<div>
